<div class="container">


  <div style="display:flex; justify-content: center;flex-direction: column;align-items: flex-start;">

    <h1>Bài tự làm</h1>
    <div style="display:flex; justify-content: center; align-items: center;">

      <form style="width:220px; margin: 20px;" [formGroup]="formS" (ngSubmit)="onTinhS(formS.value)">
        <h5>Bài 1</h5>

        <div class="form-group">
          <label for="exampleInputEmail1">Nhập X</label>
          <input formControlName="x" type="email" class="form-control" id="exampleInputEmail1"
            aria-describedby="emailHelp">
          <span class="col alert alert-danger" role="alert" *ngIf="(formS.controls.x?.errors?.required
            && formS.controls.x?.touched) && formS.controls.x?.touched">
            X không được để rỗng!
          </span>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Nhập N</label>
          <input formControlName="n" type="text" class="form-control" id="exampleInputPassword1">
          <span class="col alert alert-danger" role="alert" *ngIf="(formS.controls.n?.errors?.required
            && formS.controls.n?.touched) && formS.controls.n?.touched">
            N không được để rỗng!
          </span>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        <h1 *ngIf="s">Kết quả bài 1 là : {{s}}</h1>
      </form>

      <form style="width:220px" [formGroup]="formS" (ngSubmit)="onTinhS2(formS.value)">
        <h5>Bài 2</h5>

        <div class="form-group">
          <label for="exampleInputEmail1">Nhập X</label>
          <input formControlName="x" type="email" class="form-control" id="exampleInputEmail1"
            aria-describedby="emailHelp">
          <span class="col alert alert-danger" role="alert" *ngIf="(formS.controls.x?.errors?.required
            && formS.controls.x?.touched) && formS.controls.x?.touched">
            X không được để rỗng!
          </span>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Nhập N</label>
          <input formControlName="n" type="text" class="form-control" id="exampleInputPassword1">
          <span class="col alert alert-danger" role="alert" *ngIf="(formS.controls.n?.errors?.required
            && formS.controls.n?.touched) && formS.controls.n?.touched">
            N không được để rỗng!
          </span>
        </div>

        <button type="submit" class="btn btn-primary">Tinh bài 2</button>
        <h1 *ngIf="s2">Kết quả bài 2 là : {{s2}}</h1>
      </form>
    </div>
    <div>

      <h5>Bài 3: Cho danh sách . Hãy sắp xếp danh sách trên theo thứ tự tăng dần của trường họ tên(Ưu tiên Tên sau
        đó đến Họ)<br /> <button type="button" class="btn btn-danger" (click)="sapxep()">Sắp xếp</button>
        <ul>
          <ng-container *ngFor="let it of list">
            <li>{{it.hoten}}</li>
          </ng-container>
        </ul>
      </h5>
    </div>
    <div>

      <h5>
        Bài 4: Cho danh sách. Hãy lọc ra một danh sách mới những người có điểm thi lớn hơn 8 và quê ở Hai Phong.
        <br /> <button type="button" class="btn btn-danger" (click)="filterDiemAndAdress()">Lọc</button>
        <ul>
          <ng-container *ngFor="let it of list2">
            <li>{{it.hoten+" "+it.diemthi+" "+it.quequan}}</li>
          </ng-container>
        </ul>
      </h5>
    </div>
    <div>

      <h5>
        Bài 5: Cho biết các số là số chính phương có trong một dãy số
        <br /> <button type="button" class="btn btn-danger" (click)="timsochinhphuong()">Tìm</button>
        <ul>
          <ng-container *ngFor="let it of arrchinhphuong">
            <li>{{it}}</li>
          </ng-container>
        </ul>
      </h5>
    </div>
    <div>

      <h5>
        Bài 6: Tính tổng các phần tử là các số dương có trong một dãy số
        <br /> <button type="button" class="btn btn-danger" (click)="sumPositive()">Tính</button>
        <h2 *ngIf="sumPo">Tổng số dương là:{{sumPo}}</h2>
        <ul>
          <ng-container *ngFor="let it of arrchinhphuong">
            <li>{{it}}</li>
          </ng-container>

        </ul>
      </h5>
    </div>
    <form style="width:220px" [formGroup]="formS7" (ngSubmit)="onTinhS7(formS7.value)">
      <h5>Bài 7: Phương trình trùng phương</h5>

      <div class="form-group">
        <label for="exampleInputEmail1">Nhập a</label>
        <input formControlName="a" type="email" class="form-control" id="exampleInputEmail1"
          aria-describedby="emailHelp">
        <span class="col alert alert-danger" role="alert" *ngIf="(formS7.controls.a?.errors?.required
          && formS7.controls.a?.touched) && formS7.controls.a?.touched">
          A không được để rỗng!
        </span>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Nhập b</label>
        <input formControlName="b" type="email" class="form-control" id="exampleInputEmail1"
          aria-describedby="emailHelp">
        <span class="col alert alert-danger" role="alert" *ngIf="(formS7.controls.b?.errors?.required
          && formS7.controls.b?.touched) && formS7.controls.b?.touched">
          B không được để rỗng!
        </span>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Nhập c</label>
        <input formControlName="c" type="email" class="form-control" id="exampleInputEmail1"
          aria-describedby="emailHelp">
        <span class="col alert alert-danger" role="alert" *ngIf="(formS7.controls.c?.errors?.required
          && formS7.controls.c?.touched) && formS7.controls.c?.touched">
          C không được để rỗng!
        </span>
      </div>


      <button type="submit" class="btn btn-primary">Tinh bài 7</button>
      <h5 *ngIf="result7">{{result7}}</h5>
    </form>


    <form style="width:220px" [formGroup]="formS" (ngSubmit)="ontinhthetich(formS.value)">
      <h5>Bài 8</h5>

      <div class="form-group">
        <label for="exampleInputEmail1">Nhập diện tích đáy</label>
        <input formControlName="x" type="email" class="form-control" id="exampleInputEmail1"
          aria-describedby="emailHelp">
        <span class="col alert alert-danger" role="alert" *ngIf="(formS.controls.x?.errors?.required
          && formS.controls.x?.touched) && formS.controls.x?.touched">
          diện tích đáy không được để rỗng!
        </span>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Nhập chiều cao</label>
        <input formControlName="n" type="text" class="form-control" id="exampleInputPassword1">
        <span class="col alert alert-danger" role="alert" *ngIf="(formS.controls.n?.errors?.required
          && formS.controls.n?.touched) && formS.controls.n?.touched">
          chiều cao không được để rỗng!
        </span>
      </div>

      <button type="submit" class="btn btn-primary">Tinh bài 8</button>
      <h1 *ngIf="s8">Kết quả bài 8 là : {{s8}}</h1>
    </form>
  </div>
</div>